@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Marmelad');
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Russo One', sans-serif;*/
/*font-family: 'Marmelad', sans-serif;*/

@-webkit-keyframes logo {
    from {
        -webkit-transform: rotate(0) scale(.5);
        left: 120%
    }
    50% {
        -webkit-transform: rotate(-720deg) scale(.5);
        left: 0;
    }
    to {
        -webkit-transform: rotate(0) scale(1);
    }
}
@keyframes logo {
    from {
        transform: rotate(0) scale(.5);
        left: 120%
    }
    50% {
        transform: rotate(-720deg) scale(.5);
        left: 0;
    }
    to {
        transform: rotate(0) scale(1);
    }
}

#logoimage {
    /*-webkit-animation: logo 3s;*/
    /*animation: logo 3s;*/
}

ul * {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Marmelad', sans-serif;
    background: url("../img/header_fon.jpg") no-repeat center top;
    background-size: 100% 400px;
}

#upper-part {
    width: 90%;
    max-width: 992px;
    margin: auto;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 120px auto;
    grid-gap: 10px;
    grid-template-areas:
            "mainside header"
            "mainside mainblock"
}

aside {
    grid-area: mainside;
}

header {
    grid-area: header;
    background: url("../img/strichka.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.social_items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.headerblock{
    margin-left: 1%;
}

.searcharea {
    background-color: azure;
    box-sizing: border-box;
    margin-bottom: 2%;
    opacity: 0.9;

}
.searcharea[type="button"]{
    width: 30%;
}


.searcharea[type="search"]{
    width: 67%;
}

nav ul:first-of-type {
    list-style-image: url(../img/page_icons/main_list2.png);
}

.mainmenu a {
    text-decoration: none;
}

ul li {
    margin-top: 8px;
    border-radius: 3px;
    color: #333;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
}

li a {
    display: block;
    background-color: #e3e3e3;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    border: 1px solid #bbb;
}

ul li a:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    /*cursor: pointer; */
}

ul li:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}

nav a:hover {
    cursor: url(../img/page_icons/batman.cur), auto;
}

.submainmenu {
    list-style-image: initial !important;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding-left: 5px;
    background-color: initial !important;
    transition: all 1s ease-out .5s;
}

.hasdropmenu:hover .submainmenu {
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    transition: all 1s ease-out;
}

main {
    grid-area: mainblock;
}

ul {
    list-style-type: none;
}

#slider {
    background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgb(165,165,165));
    margin-top: 2%;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid black;
    margin: 2px 2px;
    position: relative;
    height: auto;
}

.uprokati {
    border: 1px solid black;
    position: absolute;
    top: -2%;
    left: 2%;
    background-color: mintcream;
    z-index: 10;
}

.arrow {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.arrow:hover {
    background-color: lightgrey;
    transition: all 1s;
}


.arrowleft {
    left: 1%;
    transform: rotate(180deg);
}

.arrowright  {
    right: 1%;
}

.prokat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.poster_small img {
    max-width: 100%;
    height: auto;
}


.filminfo {
    flex-grow: 2;
    flex-shrink: 1.99;
    text-align: center;
    padding-top: 10px;
}

.koluprokat {
    color: #ff912b;
    letter-spacing: 3px;
    text-shadow: 2px 2px #fcf7bf;
}

.previewFilmName {
    font-family: 'Russo One', sans-serif;
    color: #820400;
}

.poster_small {
    margin: 0 15px;
}

.prokattwo {
    flex-grow: 3;
    flex-shrink: 1.9;
}

.blockWithShortLinks {
    position: relative;
    background-color: #ff912b;
    display: inline-block;
    overflow: hidden;
    box-shadow: 4px 4px 2px #5c5c5e;
}


.blockWithShortLinks img {
    display: block;
    margin: auto;

}

.blockWithShortLinks:hover {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 500ms;
    tra
}

.blockWithShortLinks:hover > .newFilmsLinks {
       opacity: 0.6;
}

.newFilmsLinks {
    position: absolute;
    bottom: 0;
    background-color: aliceblue;
    opacity: 0;
    width: 100%;
    transition-property: opacity;
    transition-duration: 1s;
}

/*.newFilmsLinks:hover {*/
    /*opacity: 0.6;*/
/*}*/

.buyTicket {
    text-decoration: none;
    background-color: #ccc0b1;
    color: white;
    padding: 1px 2px;
    border-style: outset;
    border-radius: 8px;
    display: inline-block;
    margin-top: 2px;
}

.buyTicket:hover {
    background-color: #d66e68;
}

.newFilmsLinks p {
    margin: 0;
}

.chapter{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 0;
}

.films_grid {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,auto);
}

.filmblock {
    position: relative;
    margin: auto 1%;
}

.linksaboutfilms {

    position: absolute;
    bottom: 1%;
    right: 2%;
}

.showMoreMovie {
    text-align: center;
}

.filmblock img {
    height: auto;
    max-width: 100%;
}

.kino_small figcaption {
    text-align: center;
}


.moviereview {
    text-align: justify;
    word-wrap: break-word;
    font-size: small;
}

.moreInfo{
    color: #af140c;
}

.moviereview span p::first-letter {
    float: left;
    font-size: 2em;
    color: #af140c;
    margin-right: 2px;
}

.mainform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    grid-template-rows: repeat(2, auto) 30px auto;
    justify-items: end;
    grid-template-areas:
            "name phone"
            "mail theme"
            "message message"
            "button button";
}

.name {
    grid-area: name;
}

.mail {
    grid-area: mail;
}

.theme {
    grid-area: theme;
}

.phone {
    grid-area: phone;
}

.message {
    grid-area: message;
    justify-self: stretch;
    display: flex;
    justify-content: flex-end;
}

.message input {
    width: 80%;
}

.mainform input {
    margin-left: 10px;
}


.button {
    grid-area: button;
    justify-self: center;
}

footer {
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
    margin: 5px 0;
    background-color: lightgrey;
}


.blockkontakts {
    width: 90%;
    max-width: 992px;
    margin: auto;
}

.blockkontakts h3 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

.bottomPart {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}

.contacts {
    display: inline-block;
    margin: 0;
}

.contacts p{
    margin: 0;

}

.rightreserved {
    width: 90%;
    max-width: 992px;
    margin: auto;
    margin-top: 0;
    font-size: xx-small;
    display: flex;
    justify-content: space-between;
}

.rightreserved p {
    color: #820400;
    margin-top: 0;
}


@media (max-width: 900px) {
    .prokattwo {
        display: none;
    }
    .searcharea {
        display: block;
        padding: 0;
        width: 100% !important;
    }

    nav ul:first-of-type {
        list-style-image: none;
    }

    .films_grid {
        display: grid;
        align-items: start;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,auto);
        /*grid-auto-rows: unset;*/
    }

    .filmblock{
        border-bottom: 1px #820400;
    }

    .movieBlock3{
        display: none;
    }

    .kino_small {
        float: left;
        margin-right: 4px;
        margin-left: 0;
    }



    .mainform {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
        grid-gap: 4px;
        grid-template-areas:
                "name"
                "mail"
                "phone"
                "theme"
                "message"
                "button";

    }
    .mainform input {
        display: block;
    }
    .name {
        grid-area: name;
    }

    .mail {
        grid-area: mail;
    }

    .theme {
        grid-area: theme;
    }

    .phone {
        grid-area: phone;
    }

    .message {
        grid-area: message;
        justify-self: stretch;
        display: flex;
        justify-content: flex-end;
    }

    .message input {
        width: 80%;
    }


    .button {
        grid-area: button;
        justify-self: center;
    }

}

@media (max-width: 700px) {
    #upper-part {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        grid-gap: 5px;
        grid-template-areas:
                "header_mobile"
                "mainmenu_mobile"
                "karusel_mobile"
                "appreciateform_mobile"
                "films_mobile"
                "mainform_mobile"
    }
    main {
        grid-area: unset;
    }
    header {
        grid-area: header_mobile;
    }
    aside {
        grid-area: mainmenu_mobile;
    }

    #slider {
        grid-area: karusel_mobile;
    }
    .films_grid {
        display: grid;
        align-items: start;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,auto);
    }
    #films {
        grid-area: films_mobile;
    }

    .kino_small {
        width: 40%;
    }

    #form {
        grid-area: mainform_mobile;
    }

    .message{
        display: initial;
        justify-self: initial;
    }


    footer {

    }
    .prokatfirst {
        display: none;
    }


    .mainmenu {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        padding: 0;
        align-items: flex-start;
    }

    .mainmenu li {
        width: 100%;
        text-align: center;
        border-width: thick;
        border-color: black;
        border-right: 5px;
        margin-right: 10px;
    }
    .mainmenu li:last-child {
        margin-right: 0;
    }

    .submainmenu li{
        text-align: left;
    }

    .hasdropmenu:hover .submainmenu {
        overflow: no-display;
    }

    .bottomPart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}